asn1crypto==1.2.0
astropy==3.2.3
atomicwrites==1.3.0
attrs==19.3.0
beautifulsoup4==4.8.1
camb==1.0.9
certifi==2019.9.11
cffi==1.13.1
chardet==3.0.4
colossus==1.2.12
cryptography==2.7
cycler==0.10.0
Cython==0.29.13
CythonGSL==0.2.2
fast-histogram==0.7
h5py==2.9.0
halotools==0.6
hmf==3.0.6
idna==2.8
importlib-metadata==0.23
kiwisolver==1.1.0
llvmlite==0.30.0
matplotlib==3.1.1
mkl-fft==1.0.14
mkl-random==1.1.0
mkl-service==2.3.0
more-itertools==7.2.0
mpmath==1.1.0
numba==0.46.0
numpy==1.17.2
packaging==19.2
pandas==0.25.2
patsy==0.5.1
pluggy==0.12.0
psutil==5.6.3
py==1.8.0
pycparser==2.19
pyOpenSSL==19.0.0
pyparsing==2.4.2
PySocks==1.7.1
pytest==5.2.2
pytest-arraydiff==0.3
pytest-astropy==0.6.0
pytest-astropy-header==0.1.1
pytest-doctestplus==0.4.0
pytest-openfiles==0.4.0
pytest-remotedata==0.3.1
python-dateutil==2.8.0
pytz==2019.3
requests==2.22.0
scipy==1.3.1
six==1.12.0
soupsieve==1.9.4
statsmodels==0.10.1
sympy==1.4
tornado==6.0.3
urllib3==1.25.6
wcwidth==0.1.7
zipp==0.6.0
