Cython==0.29.37
CythonGSL @ git+https://github.com/twiecki/CythonGSL.git@ff9f7a29d11679f09da6ee57e8d3eb733885e8cb
PyYAML==6.0.3
Pygments==2.20.0
astropy==5.3.4
beautifulsoup4==4.15.0
cached-property==2.0.1
camb==2.0.1
certifi==2026.7.22
charset-normalizer==3.4.9
click==8.4.2
colossus==1.4.0
contourpy==1.3.3
cycler==0.12.1
deprecation==2.1.0
fast-histogram==0.14
fonttools==4.63.0
h5py==3.16.0
halotools==0.8.2
hmf==3.5.2
idna==3.18
kiwisolver==1.5.0
llvmlite==0.43.0
markdown-it-py==4.2.0
matplotlib==3.8.4
mdurl==0.1.2
mpmath==1.3.0
numba==0.60.0
numpy==1.26.4
packaging==26.3
pandas==1.5.3
pillow==12.3.0
pyerfa==2.0.1.5
pyparsing==3.3.2
python-dateutil==2.9.0.post0
pytz==2026.3.post1
requests==2.34.2
rich==15.0.0
scipy==1.13.1
six==1.17.0
soupsieve==2.9.2
statsmodels==0.14.6
sympy==1.14.0
toml==0.10.2
typing_extensions==4.16.0
urllib3==2.7.0
